<!-- Blog entries -->
<div class="w3-col l12 s12">
  {{#each projects}}
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>{{name}}</b></h3>
      <h5>By {{user.name}}, <span class="w3-opacity">{{format_date date_created}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{description}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p>
            <button 
              class="w3-button w3-padding-large w3-white w3-border" 
              onclick="window.location.replace('project/{{id}}');">
              <b>READ MORE »</b>
            </button>
            <button 
              class="w3-btn w3-red">
              <b>Delete</b>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {{/each}}
<!-- END BLOG ENTRIES -->
</div>






<div class="container m-5">
  <div class="login-card">
    <form class="form post-form">
      <div class="form-group">
        <label for="post-name">Post Name:</label>
        <input class="form-input" type="text" id="post-name" />
      </div>
      <div class="form-group">
        <label for="post-description">Post Description:</label>
        <textarea class="form-input" id="post-description" /></textarea>
      </div>
      <div class="form-group">
        <button id="new-post" class="btn btn-primary" type="submit">New Post</button>
      </div>
    </form>
  </div>
</div>
