<!-- Page title -->
<div class="w3-col l12 s12">
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container w3-center">
      <h3><b>Welcome Home</b></h3>
    </div>
  </div>
<!-- END PAGE TITLE -->
</div>

<!-- Blog entries -->
<div class="w3-col l12 s12">
  {{#each projects}}
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>{{name}}</b></h3>
      <h5>By {{user.name}}, <span class="w3-opacity">{{format_date date_created}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{description}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p>
            <button 
              class="w3-button w3-padding-large w3-white w3-border" 
              onclick="window.location.replace('project/{{id}}');"
            >
              <b>READ MORE »</b>
            </button>
          </p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments </b> <span class="w3-tag">{{comments.length}}</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {{/each}}
<!-- END BLOG ENTRIES -->
</div>
