<!-- Single project entry -->
<div class="w3-col l12 s12">
  
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>{{name}}</b></h3>
      <h5>By {{user.name}}, <span class="w3-opacity">{{format_date date_created}}</span></h5>
    </div>
    <div class="w3-container">
      <p>{{description}}</p>
    </div>
  </div>
  <hr>
<!-- END SINGLE PROJECT ENTRY -->
</div>

<!-- Comment entries -->
<div class="w3-col l12 s12">
  <!-- Comment entry -->
  {{#each comments}}
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <p>{{text}}</p>
    </div>
    <div class="w3-container">
      <h5>By {{user.name}}, <span class="w3-opacity">{{format_date date_created}}</span></h5>
    </div>
  </div>
  <hr>
  {{/each}}
<!-- END COMMENT ENTRIE/S -->
</div>

<div class="container m-5">
  <div class="login-card">
    <form class="form comment-form">
      <div class="form-group">
        <label for="comment-text">Comment:</label>
        <textarea class="form-input" id="comment-text" /></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit Comment</button>
      </div>
    </form>
  </div>
</div>
